
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

#story{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    transition: .6s;
}

#story1, #story2, #story3, #story4{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    background-color: #eee;
}

#story1.left-side, #story2.left-side, #story3.left-side, #story4.left-side{
    width: 100%;
    padding: .5rem;
}

#story1 .right-side, #story2 .right-side, #story3 .right-side, #story4 .right-side{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.right-side .gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.right-side .gallery img{
    width: 100%;
}

@media screen and (max-width: 650px) {
    #story1, #story2, #story3, #story4{
        padding: .1rem;
    }

    
#story1, #story2, #story3, #story4 .left-side{
    width: 100%;
    padding: .1rem;
}
}
