
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
     list-style: none;
    
 }

header{
    z-index: 999;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
    transition: 0.5s ease;
    background: #fff;
}


header .brand img{
    width: 100%;
    max-width: 50px;
}


#menu-bar{
    display: none;
    cursor: pointer;
    color: #000;
    }

header .navigation{
    position: relative;

}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}



header .navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: rgb(231, 68, 68);
    width: 0;
    height: 3px;
    bottom: -8%;
    left: .3vw;
    transition: 0.5s ease;

}


header .navigation .navigation-items a:hover:before{
    width: 70%;
    }


    section{
        padding: .5vw 1vw;
    }


    .home{
        position: relative;
        width: 100%;
        min-height: 120vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgb(231, 68, 68);

    }

    .home:before{
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(66, 73, 85, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }


    .home .content{
        z-index: 888;
        color: #fff;
        width: 80%;
        margin-top: 60px;
        display: none;
    }

    .home .content.active{
        display: block;
    }

    .home .content h1{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

/* 
    .home .content h1 span{
        
        font-weight: 600;
        border: 1px solid #fff;
        } */

        .home .content p{
            margin-bottom: 35px;
        }

        .home .content a{
            background: #fff;
            padding: 15px 35px;
            color: #000;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
            transition: .5s;
            border-radius: 40px;
        }

        .home .content a:hover{
            background: rgb(231, 68, 68);
            color: #fff;
        }

        .home .media-icon{
            z-index: 888;
            position: absolute;
            right: 30px;
            display: flex;
            flex-direction: column;
            transition: 0.5s ease;
            
        }

        .home video{
            z-index: 000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }


        .slider-navigation{
            z-index: 888;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(30px);
            margin-bottom: 52px;

        }


        
        .slider-navigation .nav-btn{
            width: 12px;
            height: 12px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 2px rgb(231, 68, 68);
            transition: 0.3s ease;
            } 

            .slider-navigation .nav-btn.active{
                background: rgb(231, 68, 68);
            }

            .slider-navigation .nav-btn:not(:last-child){
                margin-right: 20px;
            }


            .slider-navigation .nav-btn:hover{
                transform: scale(1.2);
            }



            .video-slide{
                position: absolute;
                width: 100%;
                clip-path: circle(0% at 0 50%);
            }

            .video-slide.active{
                clip-path: circle(150% at 0 50%);
                transition: 2s ease;
                transition-property: clip-path;
            }



@media screen and (max-width: 500px){

                    
        header{
            padding: 12px 20px;
            transition: 0.5s ease;
        }

        section{
            padding: 100px 20px;
        }


        .home .media-icon{
            right: 15px;

        }

        header .navigation{
          display: none;
          left: -100%;
    
     }

        header .navigation.active{
            /* position: fixed;
            width: 100%;
            height: 100vh;
            top: 0; 
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5); */
             display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(49, 13, 13, 0.5);
            top: 80px;
            left: 0;
            text-align: center;
            transition: all .5s;
    
    }

        header .navigation .navigation-items a{
            color: #fff;
            font-size: 1.2rem;
            margin: 20px;
        }

/*         
        header .navigation .navigation-items a:before{
        
            top: 7.5vw;
            background: red;
        } */

        header .navigation.active .navigation-items{
            /* background: white;
            width: 600px;
            max-width: 600px; */
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border-radius: 5px;
            box-shadow: 0 5px 25px rgb(68, 66, 66); */
            /* display: block;
        margin: 50px 0;
        line-height: 30px; */

        }

        #menu-bar{
            display: block;
            color: #000;
        }

        .fa-times{
            color: black;
            z-index: 999;
        }

        
    .home .content{
        width: 90%;
    }
        
    .home .content h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }


        .home .content p{
            margin-bottom: 35px;
            font-size: 15px;
        }

        .home .content a{
            padding: 10px 25px;
        }

        
    }



    /*Founder*/

#founders{
    width: 100%;
    margin-top: 8%;
}

.founder-container{
    margin-left: 10%;
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 80%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

.founder-container::-webkit-scrollbar{
    display: none;
}

.founder-card{
    flex: 0 0 auto;
    width: 305px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(66, 64, 64, 0.35);
    margin-top: 3%;
    margin-right: 40px;
    border-radius: 15px;
    margin-bottom: 3%;
    padding: 2%;
    position: relative;
}

.found-image{
    position: relative;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    padding: 1%;
}

.found-thumb{
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.found-info{
    width: 100%;
    padding: 20px;
    background: #eee;
    margin-bottom: 8%;
    margin-top: 3%;
}

.found-name{
  text-align: center;
  margin-bottom: 4%;
}


.found-info p{
    margin-left: 4%;
}

.found-socials{
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex: 0 0 auto;
}

.found-socials a{
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(235, 79, 79);
    transition: .5s;
}
.found-socials a:hover{
    color: rgb(235, 40, 40);
}

@media screen and (max-width:800px) {
    .founder-container{
        width: 100%;
        margin-left: 0%;

    }
}


/*Volunteer*/


#volunteer{
    margin-top: 7%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2), #502b25), url('../img/vol.jpg');
    background-position: center;
    background-attachment: fixed;
    background-color: #502b2d;
    padding: .5rem;
    position: relative;
}

/* .volunteer img{
z-index: 000;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit:cover;

background-color: #502b2d;
} */


.volunteer .vol-title{
    text-align: center;
    margin-top: 1%;
    color: #fff;
    padding: 1rem;
}

.vol-title h1{
    font-size: 40px;
}

.vol-title h2{
    font-size: 40px;
    margin-top: 3%;
}

.volunteer .vol-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
    color: #fff;
    gap: 2%;
    margin-top: 6%;
    z-index: 1;
}

.vol-container .vol-card{
    background: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    width: 100%;
    max-width: 250px;
    margin-top: 5%;
    padding: 1rem;
    border-radius: 6px;
}

.vol-card h2{
    margin-bottom: 4%;
}

@media screen and (max-width: 600px) {
    .vol-container .vol-card{
        width: 100%;
        max-width: 450px;
    }
}



/*Our Story Section*/

/* --- Start progress bar --- */

/* 
#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
} */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/*About section Starts*/

#about{
    width: 100%;
}

.abt-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.abt-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.abt-left .image{
    height: 250px;
    width: 100%;
    max-width: 550px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.abt-left .image img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}

.abt-right{
    width: 50%;
    /* margin-top: -5px; */
    padding: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgb(235, 223, 223) 0px 0px 16px;
}

.abt-right h1{
    margin-bottom: 3%;
    color: rgb(241, 56, 56);
    font-size: 20px;
}

.abt-right p{
    font-size: 20px;
}

.abt-right a{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: #fff;
    padding: 15px 35px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    transition: .5s;
    border-radius: 40px;
    margin: 4%;
    text-align: center;
}

.abt-right a:hover{
    background-color: rgb(231, 68, 68);
    color: #fff;
}

@media screen and (max-width: 760px){
    .abt-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .abt-right{
        width: 100%;
    }

    .abt-left{
        width: 100%;
    }

    .abt-left .image{
        height: 200px;
        width: 100%;
        max-width: 1000px;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 10px;
    }

    .abt-right a{
        padding: 15px 15px;
    }

    
.abt-right{
    padding: .5rem;
}

.abt-right h1{
    font-size: 17px;
}

.abt-right p{
    font-size: 18px;
}
    
}
/* 
@media screen and (max-width: 310px){
    .abt-right a{
        font-size: 12px;
    }
} */