
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
     list-style: none;
    
 }

header{
    z-index: 999;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
    transition: 0.5s ease;
    background: #fff;
}


header .brand img{
    width: 100%;
    max-width: 50px;
}


#menu-bar{
    display: none;
    cursor: pointer;
    color: #000;
    }

header .navigation{
    position: relative;

}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}



header .navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: rgb(231, 68, 68);
    width: 0;
    height: 3px;
    bottom: -8%;
    left: .3vw;
    transition: 0.5s ease;

}


header .navigation .navigation-items a:hover:before{
    width: 70%;
    }


    section{
        padding: 1vw 2vw;
    }


    .home{
        position: relative;
        width: 100%;
        min-height: 120vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgb(231, 68, 68);

    }

    .home:before{
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(66, 73, 85, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }


    .home .content{
        z-index: 888;
        color: #fff;
        width: 80%;
        margin-top: 60px;
        display: none;
    }

    .home .content.active{
        display: block;
    }

    .home .content h1{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

/* 
    .home .content h1 span{
        
        font-weight: 600;
        border: 1px solid #fff;
        } */

        .home .content p{
            margin-bottom: 35px;
        }

        .home .content a{
            background: #fff;
            padding: 15px 35px;
            color: #000;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
            transition: .5s;
        }

        .home .content a:hover{
            background: rgb(231, 68, 68);
            color: #fff;
        }

        .home .media-icon{
            z-index: 888;
            position: absolute;
            right: 30px;
            display: flex;
            flex-direction: column;
            transition: 0.5s ease;
            
        }

        .home .media-icon a{
            color: #fff;
            font-size: 1.6em;
            transition: 0.3s ease;
        }

        .home .media-icon a:not(:last-child){
            margin-bottom: 20px;

        }

        .home .media-icon a:hover{
            transform: scale(1.3);
            color:rgb(231, 68, 68);
        }


        .home video{
            z-index: 000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }


        .slider-navigation{
            z-index: 888;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(30px);
            margin-bottom: 52px;

        }


        
        .slider-navigation .nav-btn{
            width: 12px;
            height: 12px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 2px rgb(231, 68, 68);
            transition: 0.3s ease;
            } 

            .slider-navigation .nav-btn.active{
                background: rgb(231, 68, 68);
            }

            .slider-navigation .nav-btn:not(:last-child){
                margin-right: 20px;
            }


            .slider-navigation .nav-btn:hover{
                transform: scale(1.2);
            }



            .video-slide{
                position: absolute;
                width: 100%;
                clip-path: circle(0% at 0 50%);
            }

            .video-slide.active{
                clip-path: circle(150% at 0 50%);
                transition: 2s ease;
                transition-property: clip-path;
            }



@media screen and (max-width: 500px){

                    
        header{
            padding: 12px 20px;
            transition: 0.5s ease;
        }

        section{
            padding: 100px 20px;
        }


        .home .media-icon{
            right: 15px;

        }

        header .navigation{
          display: none;
          left: -100%;
    
     }

        header .navigation.active{
            /* position: fixed;
            width: 100%;
            height: 100vh;
            top: 0; 
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5); */
             display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100vh;
            background: rgba(49, 13, 13, 0.5);
            top: 80px;
            left: 0;
            text-align: center;
            transition: all .5s;
    
    }

        header .navigation .navigation-items a{
            color: #fff;
            font-size: 1.2rem;
            margin: 20px;
        }

/*         
        header .navigation .navigation-items a:before{
        
            top: 7.5vw;
            background: red;
        } */

        header .navigation.active .navigation-items{
            /* background: white;
            width: 600px;
            max-width: 600px; */
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border-radius: 5px;
            box-shadow: 0 5px 25px rgb(68, 66, 66); */
            /* display: block;
        margin: 50px 0;
        line-height: 30px; */

        }

        #menu-bar{
            display: block;
            color: #000;
        }

        .fa-times{
            color: black;
            z-index: 999;
        }

        
    .home .content{
        width: 90%;
    }
        
    .home .content h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }


        .home .content p{
            margin-bottom: 35px;
            font-size: 15px;
        }

        .home .content a{
            padding: 10px 25px;
        }

        
    }



    /*Founder*/

#founders{
    width: 100%;
    margin-top: 8%;
}

.founder-container{
    margin-left: 10%;
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 80%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

.founder-container::-webkit-scrollbar{
    display: none;
}

.founder-card{
    flex: 0 0 auto;
    width: 305px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(66, 64, 64, 0.35);
    margin-top: 3%;
    margin-right: 40px;
    border-radius: 15px;
    margin-bottom: 3%;
    padding: 2%;
    position: relative;
}

.found-image{
    position: relative;
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    padding: 1%;
}

.found-thumb{
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.found-info{
    width: 100%;
    padding: 20px;
    background: #eee;
    margin-bottom: 8%;
    margin-top: 3%;
}

.found-name{
  text-align: center;
  margin-bottom: 4%;
}


.found-info p{
    margin-left: 4%;
}

.found-socials{
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex: 0 0 auto;
}

.found-socials a{
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(235, 79, 79);
    transition: .5s;
}
.found-socials a:hover{
    color: rgb(235, 40, 40);
}

@media screen and (max-width:800px) {
    .founder-container{
        width: 100%;
        margin-left: 0%;

    }
}


/*Volunteer*/


#volunteer{
    margin-top: 7%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),#502b2d), url(img/vol.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: .5rem;
}

.volunteer .vol-title{
    text-align: center;
    margin-top: 1%;
    color: #fff;
    padding: 1rem;
}

.vol-title h1{
    font-size: 40px;
}

.vol-title h2{
    font-size: 40px;
    margin-top: 3%;
}

.volunteer .vol-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
    color: #fff;
    gap: 2%;
    margin-top: 6%;
}

.vol-container .vol-card{
    background: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    width: 100%;
    max-width: 250px;
    margin-top: 5%;
    padding: 1rem;
    border-radius: 6px;
}

.vol-card h2{
    margin-bottom: 4%;
}

@media screen and (max-width: 600px) {
    .vol-container .vol-card{
        width: 100%;
        max-width: 450px;
    }
}



/*Our Story Section*/

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	width: 100%;
}

#progress-bar-container {
	position:relative;
	width:100%;
	height:110px;
	margin-top:65px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#progress-bar-container::-webkit-scrollbar{
    display: none;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:20px;
	z-index:99;
	position:absolute;
	width:100%;
	margin-top:-30px;
    display: flex;
}
/* 
#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:20px;
	height:20px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
} */

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
	background: linear-gradient(to right, rgb(231, 68, 68) 60%,#fff 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
    display: flex;
	width:100%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:60px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:rgb(231, 68, 68);
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:1%;
	height:100%;
	background:  rgb(231, 68, 68);	 
	background: linear-gradient(to right,  rgb(231, 68, 68) 0%, rgb(148, 24, 5) 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

.reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}