
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

#story{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    background-color: #eee;
}

#story .left-side{
    width: 100%;
    padding: .5rem;
}

#story .right-side{
    width: 100%;
}

.right-side .img-gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    padding: .4vw;
    height: 80vh;
    overflow-y: scroll;
    gap: 2px;
    border-radius: 3px;
    border: 1px solid #eee;
}


.right-side .img-gallery img
{
    width: 3w; 
    cursor: pointer;
    transition: 0.6s;
}

.right-side .img-gallery img:hover
{
    transform: scale(1.01);
}

.right-side .full-img
{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.right-side .full-img img
{
    width: 5vw;
}


.right-side .full-img span
{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
