
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
     list-style: none;
    
 }

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
    transition: 0.5s ease;
    background-color: #fff;
}


header .brand img{
    width: 100%;
    max-width: 50px;
}


#menu-bar{
    display: none;
    cursor: pointer;
    color: #fff;
    }

header .navigation{
    position: relative;

}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}



header .navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: rgb(231, 68, 68);
    width: 0;
    height: 3px;
    bottom: -8%;
    left: .3vw;
    transition: 0.5s ease;

}


header .navigation .navigation-items a:hover:before{
    width: 70%;
    }


    section{
        padding: 1vw 2vw;
    }


    .home{
        position: relative;
        width: 100%;
        min-height: 120vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgb(231, 68, 68);

    }

    .home:before{
        z-index: 777;
        content: '';
        position: absolute;
        background: rgba(66, 73, 85, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }


    .home .content{
        z-index: 888;
        color: #fff;
        width: 80%;
        margin-top: 20px;
        display: none;
    }

    .home .content.active{
        display: block;
    }

    .home .content h1{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

/* 
    .home .content h1 span{
        
        font-weight: 600;
        border: 1px solid #fff;
        } */

        .home .content p{
            margin-bottom: 35px;
        }

        .home .content a{
            background: #fff;
            padding: 15px 35px;
            color: #000;
            font-weight: 500;
            text-decoration: none;
            border-radius: 2px;
            transition: .5s;
        }

        .home .content a:hover{
            background: rgb(231, 68, 68);
            color: #fff;
        }

        .home .media-icon{
            z-index: 888;
            position: absolute;
            right: 30px;
            display: flex;
            flex-direction: column;
            transition: 0.5s ease;
            
        }

        .home .media-icon a{
            color: #fff;
            font-size: 1.6em;
            transition: 0.3s ease;
        }

        .home .media-icon a:not(:last-child){
            margin-bottom: 20px;

        }

        .home .media-icon a:hover{
            transform: scale(1.3);
        }


        .home video{
            z-index: 000;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }


        .slider-navigation{
            z-index: 888;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(30px);
            margin-bottom: 52px;

        }


        
        .slider-navigation .nav-btn{
            width: 12px;
            height: 12px;
            background: white;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 2px rgb(231, 68, 68);
            transition: 0.3s ease;
            } 

            .slider-navigation .nav-btn.active{
                background: rgb(231, 68, 68);
            }

            .slider-navigation .nav-btn:not(:last-child){
                margin-right: 20px;
            }


            .slider-navigation .nav-btn:hover{
                transform: scale(1.2);
            }



            .video-slide{
                position: absolute;
                width: 100%;
                clip-path: circle(0% at 0 50%);
            }

            .video-slide.active{
                clip-path: circle(150% at 0 50%);
                transition: 2s ease;
                transition-property: clip-path;
            }



@media screen and  (max-width: 500px){

                    
        header{
        
            padding: 12px 20px;
            transition: 0.5s ease;
        }

        section{
            padding: 100px 20px;
        }


        .home .media-icon{
            right: 15px;

        }

        header .navigation{
           
          display: none;
    
     }

        header .navigation.active{
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0; 
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(1, 1, 1, 0.5);
    
    }

        header .navigation .navigation-items a{
            color: #222;
            font-size: 1.2em;
            margin: 20px;
        }

/*         
        header .navigation .navigation-items a:before{
        
            top: 7.5vw;
            background: red;
        } */

        header .navigation.active .navigation-items{
            background: white;
            width: 600px;
            max-width: 600px;
            margin: 20px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            box-shadow: 0 5px 25px rgb(68, 66, 66);

        }

        #menu-bar{
            display: block;
            color: #000;
        }

        .fa-times{
            color: black;
            z-index: 999;
        }

        
    .home .content{
        width: 90%;
    }
        
    .home .content h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }


        .home .content p{
            margin-bottom: 35px;
            font-size: 15px;
        }

        .home .content a{
            padding: 10px 25px;
        }

        
    }



    /*Founder*/

#founders{
    width: 100%;
    margin-top: 8%;
}

.founder-container{
    margin-left: 10%;
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 80%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

.founder-container::-webkit-scrollbar{
    display: none;
}

.founder-card{
    flex: 0 0 auto;
    width: 295px;
    background: #fff;
    border: .6px solid rgb(235, 126, 126);
    margin-top: 3%;
    margin-right: 40px;
    border-radius: 13px;
    margin-bottom: 3%;
    padding: .5%;
    position: relative;
}

.found-image{
    position: relative;
    width: 80%;
margin-left: 10%;
    overflow: hidden;
    padding: 1%;
}

.found-thumb{
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    
}

.found-info{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-left: 3%;
   
}

.found-name{
  text-align: center;
  margin-bottom: 4%;
}


.found-info p{
    margin-left: 4%;
}

.found-socials{
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex: 0 0 auto;
}

.found-socials a{
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(235, 79, 79);
}